<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fast Api na Geek University</title>
    {% block style %}

    <link rel="stylesheet" href="{{ url_for('static',path='css/styles.css') }}">

    {% endblock %}
</head>

<body>

</body>
<h1>Fast Web</h1>
<div>
    <a href="/">Home</a>
    <a href="/servicos">Serviços</a>
</div>
<div class="container">
    {% block container %}
    {% endblock %}
</div>

</html>