<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fast Api na Geek University</title>
    <style>
        body {
            background: rgb(223, 163, 164)
        }
    </style>
</head>

<body>

</body>
<h1>Fast Web</h1>
<div>
    <a href="/">Home</a>
    <a href="/servicos">Serviços</a>
</div>
<div class="container">
    <center>
        <h1>Fast Api Web na <u>Geek University</u></h1>
        <span>Para mais cursos, visite nosso site clicando <a href="https://www.geekuniversity.com.br"
                target="_blank"></a></span>
        <div>usuário: {{ usuario }}</div>
        <p>Estamos na pagina index</p>
    </center>
</div>

</html>