{% extends '_base.html'%}

{% block container%}
<center>
    <h1>Cadastro de Serviços</h1>
    <form action="/servicos" enctype="multipart/form-data" , method="post" autocomplete="off">

        <div class="form-group"><input type="text" class="form-control-file" name="servico"
                placeholder="Informe o serviço" required autofocus /><br>
            <input type="file" class="form-control-file" name="arquivo"><br>
            <button type="submit" class="btn btn-primary" class="form-control-file">Cadastrar</button>
        </div><br>
    </form>

    {% if imagem %}
    <img src="{{url_for('media', path=imagem)}}" alt="">
    {% endif %}

</center>
{% endblock %}